.card{
  width:413px;
  padding: 15px 30px ;

  text-align: center;

  border:1px solid var(--color-dark-500);
  border-radius: 3px;
}

.form {
  margin-top: 50px;
}

.checkbox {
  align-self: start;
  margin-bottom: 15px;
}

.recoverPassword{
  float:right ;
  margin-bottom: 70px;
  color:var(--color-light-100);
}

.button{
  box-sizing: border-box;
  margin-bottom: 45px;
}

.email{
  margin-bottom: 20px;
}


.instructions{
  margin-bottom: 40px;
  color:var(--color-light-900);
  text-align: left;

}

.signUpLink{
  margin-bottom: 45px;
  color: var(--color-accent-500);
}